/*
font-family: 'Black Ops One', cursive;
font-family: 'Ubuntu', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  color: #212529;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  margin-top: 4rem;
}
.country {
  width: 30rem;
  height: 40rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
}
.c-flag {
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  font-weight: 500;
}
.c-info {
  margin-left: 3rem;
}
.c-name {
  font-size: 3.5rem;
  font-weight: 700;
}
.c-continent {
  margin-left: 0.2rem;
  color: #343a40;
}
.icon {
  width: 2.6rem;
  height: 2.6rem;
  margin-left: 3rem;
  margin-top: 1rem;
}
