* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none !important;
}
button:focus {
  outline: none;
}
html {
  font-size: 46%;
}
body {
  background-color: #fff;
  color: #212529;
  background-color: #f8f0fc;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}
.input-form {
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #343a40;
}
.target-country {
  font-size: 2.6rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #f3d9fa;
  font-weight: 500;
}
.search-button {
  font-size: 2.6rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: #cc5de8;
  font-weight: 500;
}
.search-button:hover,
.search-button:active {
  background-color: #be4bdb;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  margin-top: 4rem;
  row-gap: 3rem;
}
.country {
  width: 30rem;
  height: 40rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #343a40;
}
.country:hover {
  transform: translateY(-1rem);
  filter: brightness(80%);
}
.c-flag {
  height: 50%;
}
.flex {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  font-weight: 500;
}
.c-info {
  margin-left: 3rem;
}
.c-name {
  font-size: 3.5rem;
  font-weight: 700;
}
.c-continent {
  margin-left: 0.2rem;
  color: #343a40;
}
.icon {
  width: 2.6rem;
  height: 2.6rem;
  margin-left: 3rem;
  margin-top: 1rem;
}
.copyright {
  font-size: 2rem;
  margin-top: 4rem;
  text-align: center;
  display: none;
}
.copyright a {
  text-decoration: none;
  color: #212529;
}
.error-notfound {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1.4rem;
  display: none;
  color: #e67700;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer {
  margin-bottom: 4rem;
}
/************
Media Queries
************/
@media (max-width: 1440px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1170px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 940px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 520px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .target-country {
    width: 30rem;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 50%;
  }
  .target-country {
    font-size: 2rem;
    width: 20rem;
  }
  .search-button {
    font-size: 2rem;
  }
  .spinner {
    left: 45% !important;
  }
}
/* Buffer */
.buffering-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 48%;
  border: 4px solid #000;
  border-top: 4px solid #cc5de8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
